.listItem {
display: flex;
border-top: 2px solid darkred;
flex-direction: row;
padding: 10px;
margin: 5px;
justify-content: space-between;
font-weight: 600;
color: darkred;
align-items: center;
}

.movieContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}