.listItem {
    display: flex;
    border-top: 2px solid darkred;
    flex-direction: row;
    padding: 10px;
    margin: 5px;
    justify-content: center;
    font-weight: 600;
    color: darkred;
    align-items: center;
    }

.seriesContainer {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}